/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}



.whole-container:before {
  content: '';
  display: block;
  position: absolute;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  left: 500px;
  top: -350px;
  width: 300px;
  height: 600px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  pointer-events: none;
}

.whole-container:after {
  content: '';
  display: block;
  position: absolute;
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to top, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  right: 650px;
  bottom: 30px;
  width: 300px;
  height: 600px;
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  pointer-events: none;
}
.whole-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat',
  sans-serif;
  background:linear-gradient(115deg, #6441a5 0%, #734cbb 100%)
}


.header-container {
  //  background-color: rgb(255, 255, 255);
   width: 100%;
   display: flex;
   justify-content: center;
}
.header  {
  display: flex;
  justify-content: space-between;
  width: 70%;
  // background-color: rgb(255, 255, 255);
  height: 74px;
  align-items: center;

  
}

// https: //www.xmple.com/wallpaper/brown-linear-white-gradient-highlight--c2-d2b48c-ffffff-l-50-a-60-f-21-image/

.first-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  width: 100%;
  // background-image: url(http://res.cloudinary.com/nenry/image/upload/v1530145204/slack_bg.jpg);
  // background-position: 50%;
  // background-size: 100% 100%;
  // background-repeat: no-repeat;
  // margin: 0 auto;
    }

.header-app-name {
  // background-color: rgb(219, 57, 16);
  padding: 10px;
  // border-radius: 20px;
  border-left: 1px solid gray
  border-right 1px solid gray;
  font-size: 15px;
  color:white;
}

.logo-plus {
  display: flex;
  justify-content: center;
  align-items: center;
 align-content: center;
 text-align: center;
 vertical-align: middle;
 padding-bottom: 20px;
}

.yelp-logo {
  height: 150px;
  width: 150px;
  stroke: white;
  fill: white; 
  
}

svg {
    stroke: white;
    fill: white;
}

.slack-logo {
  height: 150px;
  width: 150px;
}

.plus{
  font-size: 30px;
  color: white;
  margin-right: 20px;
}

.header-text {
  font-size: 35px;
  color:white;
  margin: 20px;
  font-weight: 50;
}



.second-content-container {
  background-color: white;
  width: 100%;
  padding-top: 96px;
  display: flex;
  justify-content: center;
}


.add-slack {
  margin: 40px;
}

.what-text {
  font-size: 25px;
}

.linkedin-logo {

    height: 40px;
    width: 40px;

}

.github-logo {
    width: 40px;
    height: 40px;

}


.git-link-logos {
  display: flex;

}
