/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}




.whole-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat',
  sans-serif;
  // background-image: url('https://camo.githubusercontent.com/77d51bed58191a49e5900e72fa45d8ab010b41c4/687474703a2f2f692e696d6775722e636f6d2f494d524c6c39442e706e67');
  // background-size: 100% 100%;
  background-color: rgb(238, 237, 237);
  background-repeat: no-repeat;
}


.header-container {
   background-color: rgb(255, 255, 255);
   width: 100%;
   display: flex;
   justify-content: center;
}
.header  {
  display: flex;
  justify-content: space-between;
  width: 70%;
  background-color: rgb(255, 255, 255);
  height: 74px;
  align-items: center;

  
}

// https: //www.xmple.com/wallpaper/brown-linear-white-gradient-highlight--c2-d2b48c-ffffff-l-50-a-60-f-21-image/

.content-container {
  height: 100%;
  width: 100%;
  background-image: url(http://res.cloudinary.com/nenry/image/upload/v1530145204/slack_bg.jpg);
  background-position: 50%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 0 auto;
    }

.header-app-name {
  background-color: rgb(221, 63, 23);
  padding: 10px;
  border-radius: 5px;
}

  