#repo-link {

}

#repo-link a {
  display: inline-block;
  background: #db99b7;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-weight: 700;
  font-size: 15px;
  padding: 2px 55px;
  transform: rotate(-45deg) translateX(-30%);
  letter-spacing: 4px;
}