#yelp-logo {
  height: 130px;
  width: 130px;
}

.slack-logo {
  height: 130px;
  width: 130px;
  margin-left: 5px;
}

.slack-yelp-add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-sign {
  font-size: 50px;
  color: white;
}